.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "Comments", "#"
  .content
    .inner
      - @comments.each do |comment|
        .comment
          .login
            = "#{comment.user.email} said:"
          %br
          %p
            = comment.message
